{% extends "base.j2" %}
{% from "sitesettings.j2" import site_author, site_desc, site_url -%}
{%- block feed %}
<link rel="alternate" type="application/feed+json" title="JSON feed" href="{{ site_url }}/feed.json">
{%- endblock %}
{%- block og %}
<meta name="description" content="{{ site_author }} - {{ site_desc }}">
{%- endblock %}
{% block post %}
<article class="frontpage">
  <p>{{ site_desc | capitalize }}.</p>

  {% include "archive.j2" %}
</article>
{%- endblock %}
