{# Prev/Next footer nav. `prev`/`next` are passed in directly by chisel as
   small {title, url} structs -- no need to scan the full `entries` list. #}
<nav class="pager">
  {%- if prev %}
  <a class="prev" href="/{{ prev.url | e }}">&laquo; {{ prev.title | e }}</a>
  {%- else %}
  <span></span>
  {%- endif %}
  {%- if next %}
  <a class="next" href="/{{ next.url | e }}">{{ next.title | e }} &raquo;</a>
  {%- endif %}
</nav>
